{% extends 'base.html' %}{% block content %}
<main>

    <div class="container">
      <div class="row">
        <div class="col s6">
            <h3> What is going on? </h3>
            When you upload a file to our site, we run your file against our ML model.  The model attempts to identify where there are stylistic errors in the code.  So why is this better and why shouldn't you just use a traditional linter?  Traditional linters are designed to read code line by line to determine if code has good or bad style through raw computation.  The model hopes to indentify heuristics that can highlight characteristics of poor style.
        </div>
        <div class="col s6">
            

        </div>
      </div>
    </div>

</main>
{% endblock %}
