<!doctype html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>StyleIO</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>

  <body>
    <div class="demo-layout">
      <div class="row">
        <div class="sidebar col s3">
          <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
              <img src="images/user.jpg" class="demo-avatar">
              <div class="demo-avatar-dropdown">
                <span>hello@example.com<i class="material-icons right">more_vert</i></span>
              </div>
            </header>
            <div class="collection demo-navigation mdl-navigation mdl-color--blue-grey-800">
              <a class="collection-item mdl-navigation__link" href="{% url 'index' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
              <a class="collection-item mdl-navigation__link" href="{% url 'upload' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">cloud_upload</i>Upload File</a>
              <a class="collection-item mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help</i>Help</a>
            </div>
          </div>
        </div>
        <div class="main-content col s9 offset-s3">
          <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
            <nav>
              <div class="nav-wrapper">
                <a href="#" class="brand-logo">StyleIO</a>
              </div>
            </nav>


            <main class="row">
              <div class="col s12">
                <div class="card demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                  <div class="card-content">
                    <div class="row">
                      <div class="col s7">
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                Some text about upload, I guess...
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row"  style="margin-bottom: 0px;">
                  <div class="col s4">
                    <div class="row">
                      <div class="demo-cards">
                        <div class="card">
                          <div class="card-content">
                            <form method="post" enctype="multipart/form-data">
                              {% csrf_token %} {{ form }}
                              <input type="submit" value="Submit">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>
</html>
